@import model.QuestionDetails
@import helper._

@(questions : List[QuestionDetails])
<script type="text/javascript">
</script>

<div id ="error-message">
    <div id="error-message-before"></div>
    <div id = "error-info"></div>
</div>

<div class="default-form">
    @helper.form(action = routes.FeedBackController.submitFeedBack()) {

    Device Id :<input type="text" name="deviceId"></br>

    Mobile :<input type="text" name="mobileNo"></br>

    <p>Select a option for  feedback:</p>
    <div>
        <input type="radio" id="sd" name="sd" selected value="Service Delivery" >
        <label for="sd">Service Delivery</label>
    </div>
    <br>
    <div>
        <input type="radio" id="wq" name="wq" value="Water Qualitys">
        <label for="sd">Water Quality</label>
        <br>
        <br>
        <input type="hidden" name="questionsize" value="@questions.size" >
        @for( i <- 0 until questions.size){
        @questions(i).getQuestion() <br>
        <input type="hidden" name="question[@i]" value="@questions(i).getQuestionId()" >

        <input type="radio"  name="answer[@i]"  value="0"  />Strongly Disagree

        <input type="radio"  name="answer[@i]"  value="1" />Disagree
        <input type="radio"  name="answer[@i]"  value="2"  />Neutral
        <input type="radio"  name="answer[@i]"  value="3"  />Agree
        <input type="radio"  name="answer[@i]"  value="4"  />Stongly  Agree
        </br>

        <br>
        }
    </div>
    Comments :<textarea rows="4" cols="50" name="comments"></textarea></br>
    <input type="submit" value="Submit">


}

